.app {
  text-align: center;
  margin-top: 50px;
  font-family: sans-serif;
}

.input-area {
  margin-bottom: 20px;
}

.inout-area input {
  padding: 8px;
  width: 200px;
}

button {
  margin-left: 8px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  margin: 10px 0;
}