/* index.css の中身をこれだけにしてください */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: block; /* Viteの初期値 center を打ち消す */
  min-width: 320px;
  min-height: 100vh;
}